<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        form {
            width:auto;
            text-align: center;
            border: 2px solid rgb(91, 250, 250);
            margin-left: auto;
            margin-right: auto;
            background-color: #8edddd;
            margin-top: 8px;
        }
    </style>
</head>
<body>
    <form action="http://127.0.0.1:5000/myapp/add_new" method="POST" >
        <h1>RSS URL: <input type="text" name="link">
        <input type="submit"></h1>
      </form>
</body>
</html>